.wel-button{
	-fx-background-color: rgb(68,162,255);
	-fx-text-fill: white;
	-fx-font-size: 20pt;
	-fx-background-radius: 0;
	-fx-font-family:"segoe UI";
}

.wel-button:pressed {
	-fx-border-color: black;
	-fx-border-width: 1;
}
.wel-button:hover {
   -fx-text-fill: black;
}

.h1 {
    -fx-font-size: 4.5em;
}
.h2 {
    -fx-font-size: 3.5em;
}
.h3 {
    -fx-font-size: 2em;
}
.wel-text {
    -fx-font-size: 1.5em;
}
.wel-textfield{
	-fx-background-radius: 0;	
	-fx-scale-y: 1.1;
}

