.set-button{
	-fx-background-color: rgb(68,162,255);
	-fx-text-fill: white;
	-fx-font-size: 15pt;
	-fx-background-radius: 0;
	-fx-font-family:"segoe UI";
}

.set-button:pressed {
	-fx-border-color: black;
	-fx-border-width: 2;
}
.set-button:focused{
	-fx-border-color: black;
	-fx-border-width: 1;
   	-fx-text-fill: black;
}
.set-button:hover {
   -fx-text-fill: black;
}

.set-text {
    -fx-font-size: 1.5em;
}
.set-textfield{
	-fx-background-radius: 0;	
	-fx-scale-y: 1.5;
}

.toggle-button {

    -fx-padding: 5 22 5 22;
   
    -fx-border-style: null;
 
    -fx-background-radius: 0;


    -fx-background-color: #cccccc;

  
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;

    -fx-font-size: 13pt;

    -fx-text-fill: white;

}



.toggle-button:focused {

    -fx-border-color: white;

    -fx-border-width: 1;

    -fx-border-style: solid;

    -fx-background-insets: 0 0 0 0, 0, 1, 2;
   
}



.toggle-button:hover {

    -fx-background-color: #d8d8d8;

    -fx-text-fill: black;

}



.toggle-button:selected {

    -fx-background-color:  rgb(68,162,255);

    -fx-text-fill: white;

}



.toggle-button:selected:hover {

    -fx-background-color: blue;

    -fx-text-fill: white;

}



.toggle-button:disabled {

    -fx-opacity: -fx-disabled-opacity;

}